.clicker-light {
  background-color: white;
  padding: 10px 10px;
}

.clicker-dark {
  background-color: black;
  color: white;
  padding: 10px 10px;
}

.clicker-dark button {
  background-color: grey;
}
